.layout {
  min-height: 100dvh;
  overflow: hidden;
}

.layoutSub {
  overflow: hidden;
}

.header {
  background-color: #ea495c;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu,
.mobileSubMenu {
  background-color: #ea495c;
}

.mobileSubMenu {
  margin-top: 40dvh;
}

.content {
  padding: 1rem 1.5rem;
}

.sider {
  background: #ea495c;
  padding-top: 10rem;
}

.sider_logo {
  margin-bottom: 4rem;
}

.sider_logo img {
  width: 80%;
}

.desktopUserMenu {
  display: none;
}

/* lg: '992px', */
@media (min-width: 993px) {
  .sider_logo {
    display: none;
  }
  .mobileSubMenu {
    display: none;
  }
  .desktopUserMenu {
    display: initial;
  }
}
